streamlit==1.35.0  #Use a specific version, e.g., 1.35.0
networkx==3.1 #Use a specific version, e.g., 3.3
matplotlib==3.9.0 # Use a specific version, e.g., 3.9.0
pymongo
fastapi
uvicorn
python-dotenv
requests
asyncio
certifi
httpx
numpy
bigquery
# scikit-learn==1.5.0 # For sklearn, ensure specific version, e.g., 1.5.0
tensorflow-hub
